/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --input-placeholder-color: #BBBBBB;
    --margin-x: 80px;
}
.content{
    margin: 0 var(--margin-x) !important;
}

.title-header{
    font-size: 25px;
    color: #263B64;
    cursor: pointer;

    .atm_tag{
        color:white;
        font-weight: bold;
    }
}

.title-login{
    font-size: 25px;
    color: #666666 !important;
    margin-bottom: 4rem;

    .atm_tag{
        color: #E93FF8 !important;
        font-weight: bold;
    }
}